/* General styles */
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: #ccc;
    background: linear-gradient(180deg, rgba(255,158,77,1) 0%, rgba(28,28,28,1) 100%);

}

h1, h2 {
  font-weight: bold;
}

p {
  margin: 0 0 1em;
  font-size: 1em;
  color: #ccc;
}

/* Header styles */

header {
  background: linear-gradient(180deg, rgba(51,50,50,1) 0%, rgba(69,68,67,1) 100%);
  color: #fff;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;
  margin-top: 2em;
}
      
h2 {
  margin-top: 1em;
  font-size: 2em;  
}

/* Media queries */

@media screen and (max-width: 480px) {
  header {
    padding: 0.5em;
  }
  
  h1 {
    font-size: 2em;
  }
}
      
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
  background: #1C1C1C;
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #FF9E4D;
  border-radius: 5px;
}

/* color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffce76;
}
